pypdf
streamlit
pandas
numpy
opencv-python-headless
pillow
resend
google-genai
streamlit-js-eval
supabase
openpyxl
streamlit
pandas
numpy
opencv-python-headless
Pillow
google-genai
streamlit-js-eval
supabase
pypdf
PyMuPDF
pyzbar
openpyxl
